[Desktop Entry]
Name=SolusDark
Comment=dark solus theme

X-KDE-PluginInfo-Author=Solus Plasma
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=solus-dark
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://getsol.us
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=Apache-2.0
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=5.0

[Settings]
FallbackTheme=breeze-dark

[Wallpaper]
defaultWallpaperTheme=SolusPlasma
defaultFileSuffix=.png
defaultWidth=1920
defaultHeight=1080

[ContrastEffect]
enabled=true
contrast=0.2
intensity=0.4
saturation=1.7
