[Desktop Entry]
Comment=SolusDark
Name=SolusDark
Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Solus Plasma
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=Apache-2.0
X-KDE-PluginInfo-Name=solusdark.desktop
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://getsol.us
X-Plasma-MainScript=defaults
X-KDE-PluginInfo-License=Apache-2.0
