.theme-dark {
      --background-primary: #1e2127;
      --background-secondary: #21252c;
      --background-secondary-alt: #1e2127;
      --background-tertiary: #2c313a;
      --channeltextarea-background: #2c313a;
      --background-message-hover: rgba(255,255,255,0.025);
      --background-accent: #434956;
      --background-floating: #2c313a;
    }
